/**********************************************************************************************************************/
/*===------------------------------------------=== Импорт файлов ===-----------------------------------------------===*/
/**********************************************************************************************************************/
/* fdsds */
@import url("normalize.css"); /* Нормализация */
@import url("classes.css"); /* Классы */
@import url("mediaQueries.css"); /* Медиа запросы */

/**********************************************************************************************************************/
/*===----------------------------------------=== Подключаемые шрифты ===-------------------------------------------===*/
/**********************************************************************************************************************/
@font-face {
    font-family: 'PFAgoraSansPro-Light';
    src: url('fonts/PFAgoraSansPro-Light.eot');
    src: local('☺'), url('fonts/PFAgoraSansPro-Light.woff') format('woff'), url('fonts/PFAgoraSansPro-Light.ttf') format('truetype'), url('fonts/PFAgoraSansPro-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFAgoraSansPro-Regular';
    src: url('fonts/PFAgoraSansPro-Regular.eot');
    src: url('fonts/PFAgoraSansPro-Regular.eot') format('embedded-opentype'),
    url('fonts/PFAgoraSansPro-Regular.woff') format('woff'),
    url('fonts/PFAgoraSansPro-Regular.ttf') format('truetype'),
    url('fonts/PFAgoraSansPro-Regular.svg#PFAgoraSansProRegular') format('svg');
}
@font-face {
    font-family: 'PFAgoraSansPro-LightItalic';
    src: url('fonts/PFAgoraSansPro-LightItal.eot');
    src: local('☺'), url('fonts/PFAgoraSansPro-LightItal.woff') format('woff'), url('fonts/PFAgoraSansPro-LightItal.ttf') format('truetype'), url('fonts/PFAgoraSansPro-LightItal.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFAgoraSansPro-Bold';
    src: url('fonts/PFAgoraSansPro-Bold.eot');
    src: url('fonts/PFAgoraSansPro-Bold.eot') format('embedded-opentype'),
    url('fonts/PFAgoraSansPro-Bold.woff') format('woff'),
    url('fonts/PFAgoraSansPro-Bold.ttf') format('truetype'),
    url('fonts/PFAgoraSansPro-Bold.svg#PFAgoraSansProBold') format('svg');
}
@font-face {
    font-family: 'PFAgoraSansPro-Thin';
    src: url('fonts/PFAgoraSansPro-Thin.eot');
    src: url('fonts/PFAgoraSansPro-Thin.eot') format('embedded-opentype'),
    url('fonts/PFAgoraSansPro-Thin.woff') format('woff'),
    url('fonts/PFAgoraSansPro-Thin.ttf') format('truetype'),
    url('fonts/PFAgoraSansPro-Thin.svg#PFAgoraSansProBold') format('svg');
}
@font-face {
    font-family: 'Uni_Sans-Thin-Italic';
    src: url('fonts/Uni_Sans-Thin-Italic.eot');
    src: url('fonts/Uni_Sans-Thin-Italic.eot') format('embedded-opentype'),
    url('fonts/Uni_Sans-Thin-Italic.woff') format('woff'),
    url('fonts/Uni_Sans-Thin-Italic.ttf') format('truetype'),
    url('fonts/Uni_Sans-Thin-Italic.svg#PFAgoraSansProBold') format('svg');
}
@font-face {
    font-family: 'Uni_Sans-Heavy-Italic';
    src: url('fonts/Uni_Sans-Thin-Italic.eot');
    src: url('fonts/Uni_Sans-Thin-Italic.eot') format('embedded-opentype'),
    url('fonts/Uni_Sans-Thin-Italic.woff') format('woff'),
    url('fonts/Uni_Sans-Thin-Italic.ttf') format('truetype'),
    url('fonts/Uni_Sans-Thin-Italic.svg#PFAgoraSansProBold') format('svg');
}
@font-face {
    font-family: 'Uni_Sans-Thin';
    src: url('fonts/Uni_Sans-Thin.eot');
    src: url('fonts/Uni_Sans-Thin.eot') format('embedded-opentype'),
    url('fonts/Uni_Sans-Thin.woff') format('woff'),
    url('fonts/Uni_Sans-Thin.ttf') format('truetype'),
    url('fonts/Uni_Sans-Thin.svg#PFAgoraSansProBold') format('svg');
}
@font-face {
    font-family: 'Uni_Sans-Heavy';
    src: url('fonts/Uni_Sans-Heavy.eot');
    src: url('fonts/Uni_Sans-Heavy.eot') format('embedded-opentype'),
    url('fonts/Uni_Sans-Heavy.woff') format('woff'),
    url('fonts/Uni_Sans-Heavy.ttf') format('truetype'),
    url('fonts/Uni_Sans-Heavy.svg#PFAgoraSansProBold') format('svg');
}

/**********************************************************************************************************************/
/*===-------------------------------------------=== Общие стили ===------------------------------------------------===*/
/**********************************************************************************************************************/
body{
    font-family: 'PFAgoraSansPro-Regular', sans-serif;
    background: #f7f7f7;
}
.title{
    font-family: 'PFAgoraSansPro-Bold', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}
.desc_page{
    font-family: 'PFAgoraSansPro-Regular', Arial, sans-serif;
    font-size: 14px;

}
/**********************************************************************************************************************/
/*===----------------------------------------------=== Текст ===--------------------------------------------------====*/
/**********************************************************************************************************************/

/**********************************************************************************************************************/
/*===---------------------------------------------=== Таблицы ===--------------------------------------------------===*/
/**********************************************************************************************************************/

/**********************************************************************************************************************/
/*===----------------------------------------------=== Формы ===---------------------------------------------------===*/
/**********************************************************************************************************************/

/**********************************************************************************************************************/
/*===----------------------------------------------=== Кнопки ===--------------------------------------------------===*/
/**********************************************************************************************************************/

/**********************************************************************************************************************/
/*===------------------------------------------=== Цветовая схема ===----------------------------------------------===*/
/**********************************************************************************************************************/

/**********************************************************************************************************************/
/*===----------------------------------------=== Отдельные элементы ===--------------------------------------------===*/
/**********************************************************************************************************************/

/* --Rainbow-- */
.rainbow{
    background: url("../img/header/rainbow.png") repeat-x;
    width: 100%;
    height: 2px;
    position: relative;
    z-index:3;
}
/* Rounded link */
.round{
    background: url("../img/round.png") no-repeat;
    width: 47px;
    height: 47px;
    line-height: 47px;
    text-align: center;
}
.round span,.round a {
    font-family: 'PFAgoraSansPro-LightItalic', sans-serif;
    color: #a6a6a6;
    text-transform: uppercase;
    display: block;
    font-size: 13px;
    text-decoration: none;
}
.round a:hover {
    color: #1f1f1f;
}
/* read more link */
.readmore{
    background: url("../img/readmore.png") 0 1px no-repeat;
    padding-left: 27px;
    color: #ea3a15;
    font-size: 14px;
    font-family: 'PFAgoraSansPro-Light', sans-serif;
    position: relative;
    top: 45px;
    text-decoration: none;
    margin: 0 auto;
    display: inline-block;
    text-transform: uppercase;
}
.readmore:hover{
    text-decoration: underline;
}
/* Скобки */
.l-bracket:before,
.r-bracket:after{
    content: '';
    display: block;
    width: 6px;
    height: 37px;
    position: absolute;
    top: 8px;
}
.l-bracket:before{
    background: url("../img/portfolio/l-bracket.png") no-repeat right;
    left: -28px;
}
.r-bracket:after{
    background: url("../img/portfolio/r-bracket.png") no-repeat right;
    right: -28px;
}

/**********************************************************************************************************************/
/*===------------------------------------------=== Структура сайта ===---------------------------------------------===*/
/**********************************************************************************************************************/

/*===-----------------------------------------=== Шапка и Навигация ===--------------------------------------------===*/
header{
    background-color: #fff;
    z-index: 10000;
    width:100%;
    position:fixed;
    top:0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.36);
    -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.36);
    -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.36);
}
/* Меню */
#main_menu{
    background-color: #ffffff;
    z-index: 10000;
}
#main_menu ul {
    left: -22px;
    position: relative;
}
#main_menu,
#mini_main_menu .container{
    padding: 0 160px;
}
#main_menu ul li{
    line-height: 140px;
}
#mini_main_menu ul li{
    line-height: 95px;
}
#main_menu ul li a,
#mini_main_menu ul li a{
    color: #1f1f1f;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'PFAgoraSansPro-Bold', Arial, sans-serif;
}
#main_menu ul li a:hover {
    border-bottom: 2px solid;
    padding-bottom: 14px;
}
#main_menu ul li a.logo,
#mini_main_menu ul li a.logo{
    display: block;
    margin: 10px 0 20px 0;
}
#main_menu ul li a.logo{
    width: 91px;
    height: 112px;
    transition: background .4s;
    -moz-transition: background .4s;
    -webkit-transition: background .4s;
    -o-transition: background .4s;
    -ms-transition: background .4s;  
}
.header_top #main_menu ul li a.logo {
    background: url("../img/header/logo.png") 0px -149px no-repeat;
}
.header_top #main_menu ul li a.logo:hover {
    background-position: 0 29px;
    border: 0;
    padding: 0;
}
.header_down #main_menu ul li a.logo {
   background: url("../img/header/logo.png") 0 -310px no-repeat;
}
.header_down #main_menu ul li a.logo:hover {
    background-position: 0 -426px;
    border: 0;
    padding: 0;
}
#mini_main_menu ul li a.logo{
    background: url("../img/header/mini_logo.png") no-repeat;
    width: 51px;
    height: 63px;
}
/* Язык */
#main_menu .lang,
#mini_main_menu .lang{
    position: absolute;
    right: 0;
}
#main_menu .lang {
    top: 48px;
    background: none;
    width: 46px;
    height: 46px;
}
#main_menu .lang a {
    color: #000000;
    font-family: 'PFAgoraSansPro-Light', sans-serif;
    display: inline-block;
    border-left: 2px solid rgba(0,0,0,0);
    padding: 0 0 0 8px;
    height: 11px;
    line-height: 11px;
}
#main_menu .lang:hover a {
    border-left: 2px solid;
}
#mini_main_menu .lang{
    top: 20px;
}

/* Второстепенная навигация */
.small_width{
    width: 400px;
    margin: 0 auto;
}
.our_works{
    padding: 0 120px;
}
.secondary_nav{
    background-color: #000000;
    position: fixed;
    width: 100%;
    z-index: 5;
    transition: margin-top .3s;
    -o-transition: margin-top .3s;
    -webkit-transition: margin-top .3s;
    -moz-transition: margin-top .3s;
    -ms-transition: margin-top .3s; 
}
.secondary_nav ul li{
    height: 50px;
    line-height: 50px;
    position: relative;
}
.secondary_nav ul li a{
    color: #7a7a7a;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'PFAgoraSansPro-Regular', sans-serif;
}
.secondary_nav ul li a:hover,
.secondary_nav ul li a.active{
    color: #ffffff;
}
/*===----------------------------------------------=== Кто мы ===--------------------------------------------------===*/
#who_we_are{
    margin: 0 auto;
    text-align: center;
    position: relative;
    color: #010101;
    text-transform: uppercase;
    padding-bottom: 170px;
}
#who_we_are .what{
    position: absolute;
    top: 45px;
    left: 36%;
    z-index: 2;
}
#who_we_are h1{
    font-size: 60px;
    font-family: 'Uni_Sans-Heavy', Arial, sans-serif;
    padding: 70px 0 30px 0;
}
#who_we_are h1 span{
    font-family: 'Uni_Sans-Thin', Arial, sans-serif;
    font-weight: normal;
    position: relative;
    z-index: 1;
}
#who_we_are p{
    font-family: 'PFAgoraSansPro-Regular', Arial, sans-serif;
    font-size: 1.8em;
    line-height: 30px;
}
#who_we_are p span{
    color: #ffab09;
}
#our_services{
        padding-bottom: 20px;
       /* overflow: hidden;*/
}
.tabs ul li {
    cursor: pointer;
}
.tabs ul li a{
    display: block;
    line-height: 50px;
    height: 50px;
    color: #010101;
    font-family: 'PFAgoraSansPro-Regular', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    text-decoration: none;
}
.tabs ul li a span {
    border-bottom: 1px dotted;
}
.tabs ul li.active a{
    color: #ffffff;
    text-decoration: none;
}
.tabs ul li.active a span {
    border: 0;
}
.tabs .unstyled {
    padding: 0 18px;
}
.tabs ul li.active:hover a {
    color: #ffffff;
}
/* --Дизайн-- */
#tab1{
    min-height: 430px;
}
.tabs ul li.tab_design {
    background: url("../img/our_services/tabs/pencil-static.png") no-repeat 38px 12px;
    padding: 0 62px 0 74px;;
}
.tabs ul li.tab_design.active {
    background: #b473cf url("../img/our_services/tabs/pencil-active.png") no-repeat 38px 12px;
}
.tabs ul li.tab_design:hover a {
    color: #b473cf;
}
.tabs ul li.tab_design.active:hover a {
    color: #ffffff;
}
/* --Разработка-- */
.tabs ul li.tab_dev {
    background: url("../img/our_services/tabs/gears-static.png") no-repeat 32px 12px;
    padding: 0 36px 0 75px;
}
.tabs ul li.tab_dev:hover a {
    color: #478cc2;
}
.tabs ul li.tab_dev.active {
    background: #478cc2 url("../img/our_services/tabs/gears-active.png") no-repeat 32px 12px;
}
.tabs ul li.tab_dev.active:hover a {
    color: #ffffff;
}
/* --Продвижение-- */
.tabs ul li.tab_seo {
    background: url("../img/our_services/tabs/seo-static.png") no-repeat 30px 12px;
    padding: 0 25px 0 65px;
}
.tabs ul li.tab_seo:hover a {
    color: #c95530;
}
.tabs ul li.tab_seo.active {
    background: #c95530 url("../img/our_services/tabs/seo-active.png") no-repeat 30px 12px;
}
.tabs ul li.tab_seo.active:hover a {
    color: #ffffff;
}
/* --Консультирование-- */
.tabs ul li.tab_consult {
    background: url("../img/our_services/tabs/consult-static.png") no-repeat 24px 12px;
    padding: 0 24px 0 69px;
}
.tabs ul li.tab_consult:hover a {
    color: #f1ae4e;
}
.tabs ul li.tab_consult.active {
    background: #f1ae4e url("../img/our_services/tabs/consult-active.png") no-repeat 24px 12px;
}
.tabs ul li.tab_consult.active:hover a {
    color: #ffffff;
}
/* --Контент табов-- */
.tabs_content .tabs_content_div{
    display: none;
    padding-top: 60px;
    position: relative;
    min-height: 430px;
}
.tabs_content .tabs_content_div .about{
    width: 522px;
    font-family: 'PFAgoraSansPro-Regular', Arial, sans-serif;
    padding-left: 41px;
}
/* Таб дизайна */
.tabs_content .tabs_content_div .about h3{
    color: #b473cf;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 30px;
}
.tabs_content .tabs_content_div .about p{
    color: #2a2a2a;
    font-size: 14px;
    line-height: 24px;
}
.tabs_content .tabs_content_div .notebook{
    position: absolute;
    right: -2000px;
    top: 65px;
}
.tabs_content .tabs_content_div .flash{
    position: absolute;
    right: -2000px;
    top: 185px;
}
.tabs_content .tabs_content_div .glasses{
    position: absolute;
    left: 2500px;
    bottom: 0;
}
.tabs_content .tabs_content_div .cofee{
    position: absolute;
    left: 2500px;
    bottom: 50px;
}
.tabs_content .tabs_content_div .fan{
    position: absolute;
    left: 2500px;
    bottom: -10px;
}
.tabs_content .tabs_content_div .pancil{
    position: absolute;
    right: -2000px;
    bottom: -5px;
}
.tabs_content .tabs_content_div .triangle{
    position: absolute;
    right: -2000px;
    bottom: -10px;
}
/* Таб разработки */
.tabs_content .development_tab .about h3 {
    color: #478cc2;
}
.tabs_content .development_tab .computer {
    position: absolute;
    top: 92px;
    right: -2000px;
}
.tabs_content .development_tab .ipad {
    position: absolute;
    top: 195px;
    right: -2000px;
}
.tabs_content .development_tab .iphone {
    position: absolute;
    top: 232px;
    right: -2000px;
}
.tabs_content .development_tab .bottle {
    position: absolute;
    top: 270px;
    right: -2000px;
}
.tabs_content .development_tab .cogwheel {
    position: absolute;
    top: 68px;
    right: -2000px;
}
.tabs_content .development_tab .papper {
    position: absolute;
    top: 30px;
    right: -2000px;
}
.tabs_content .development_tab .macbook {
    position: absolute;
    top: 35px;
    right: -2000px;
}
.tabs_content .development_tab .hdd {
    position: absolute;
    top: 139px;
    right: -2000px;
}
.tabs_content .development_tab .html {
    position: absolute;
    top: 71px;
    right: -2000px;
}
.tabs_content .development_tab .pizza {
    position: absolute;
    top: 293px;
    right: -2000px;
}
/* Сео таб */
.tabs_content .seo_tab .about h3 {
    color:#f1764e;
}
.tabs_content .seo_tab .folder {
    position: absolute;
    right: -2000px;
    top: 46px;
}
.tabs_content .seo_tab .ruler {
    position: absolute;
    right: -2000px;
    top: 136px;
}
.tabs_content .seo_tab .papper_03 {
    position: absolute;
    right: -2000px;
    top: 169px;
}
.tabs_content .seo_tab .papper_04 {
    position: absolute;
    right: -2000px;
    top: 169px;
}
.tabs_content .seo_tab .papper_02 {
    position: absolute;
    right: -2000px;
    top: 214px;
}
.tabs_content .seo_tab .papper_01 {
    position: absolute;
    right: -2000px;
    top: 289px;
}
.tabs_content .seo_tab .calculator {
    position: absolute;
    right: -2000px;
    top: 298px;
}
/* Таб консультации */
.tabs_content .counseling_tab .about h3 {
    color: #f1ae4e;
}
.tabs_content .counseling_tab .papper {
    position: absolute;
    top: 92px;
    right: -2000px;
}
.tabs_content .counseling_tab .notebook {
    position: absolute;
    top: 151px;
    right: -2000px;
}
.tabs_content .counseling_tab .pan {
    position: absolute;
    top: 326px;
    right: -2000px;
}
.tabs_content .counseling_tab .phone {
    position: absolute;
    top: 189px;
    right: -2000px;
}
.tabs_content .counseling_tab .cup_l {
    position: absolute;
    top: 280px;
    right: -2000px;
}
.tabs_content .counseling_tab .cup_r {
    position: absolute;
    top: 73px;
    right: -2000px;
}
/*===-------------------------------------------=== Наши услуги ===------------------------------------------------===*/
#services h1.title{
    padding: 75px 0 50px 0;
    text-align: center;
}
#services .desc_page{
    text-align: center;
    width: 750px;
    margin: 0 auto;
}
#services .serv_pr{
    padding: 60px 0;
    text-align: center;
}
#services .service_titles{
    text-align: center;
}
#services .service_titles h4,
#services .service_titles h5{
    font-family: 'PFAgoraSansPro-Regular', Arial, sans-serif;
    font-weight: normal;
}
#services .service_titles h4{
    font-size: 18px;
    margin-top: -29px;

}
#services .service_titles h5{
    font-size: 14px;
    padding-bottom: 55px;
}
#services .serv_block{
    margin-bottom: 75px;
}
#services .serv_block ul li{
    text-align: center;
    width: 250px;
    padding-bottom: 50px;
    float: left;
    height: 165px;
    list-style: none;
    margin-right: 55px;
}
#services .serv_block ul li:nth-child(3n+3){
    margin-right: 0;
}
#services .serv_block ul li .serv_img{
    height: 55px;
    line-height: 55px;
    margin-bottom: 21px;
}
#services .serv_block a{
    text-decoration: none;
    display: block;
}
#services .serv_name{
    font-family: 'PFAgoraSansPro-Bold', Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    padding-bottom: 3px;
    margin: 25px 0 15px 0;
    text-transform: uppercase;
    line-height: 28px;
    border-bottom: 1px solid #000000;
    display: inline;

}
#design ul li:hover .serv_name{
    color: #c18cd7;
    border-bottom: 1px solid #c18cd7;
}
#f_style ul li:hover .serv_name{
    color: #478cc2;
    border-bottom: 1px solid #478cc2;
}
#site_dev ul li:hover .serv_name{
    color: #7866bd;
    border-bottom: 1px solid #7866bd;
}
#seo ul li:hover .serv_name{
    color: #cd6341;
    border-bottom: 1px solid #cd6341;
}
#support ul li:hover .serv_name{
    color: #f1ae4e;
    border-bottom: 1px solid #f1ae4e;
}
#services .serv_price{
    color: #5c5c5c;
    font-size: 16px;
    margin-top: 9px;
}
/* Дизайн */
#design, #f_style, #seo, #support, #site_dev{
    border: 3px solid;
    padding: 80px 60px 0 60px;
}
#design{
    border-color: #c18cd7;
}
#f_style{
    border-color: #478cc2;
}
#site_dev{
    border-color: #7866bd;
}
#seo{
    border-color: #cd6341;
}
#support{
    border-color: #f1ae4e;
}

/*===---------------------------------------------=== О нас ===----------------------------------------------------===*/
#about {
    margin-top: 47px;
}
.our_about li {
    margin: 0 18px;
}
#about.container{
    padding: 0 90px 100px 90px;
}
#about article{
    width: 685px;
    margin: 0 auto;
}
#about h1.title{
    padding: 80px 0;
}
#about h2.title{
    padding: 150px 0 60px 0;
}
#about article{
    border: 3px solid;
    padding: 60px 70px;
}

/* Пару слов о нас */
#about .two_words{
    border-color: #2097ee;
}
#about .two_words p{
    font-family: 'PFAgoraSansPro-Bold', Arial, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 60px;
    line-height: 36px;
}
#about .two_words .copyright{
    padding-top: 60px;
    text-transform: uppercase;
    font-size: 12px;
}
#about .two_words .copyright strong{
    font-family: 'PFAgoraSansPro-Bold', Arial, sans-serif;
    font-size: 14px;
}
#about .two_words .copyright .founded{
    color: #959595;
    font-family: 'PFAgoraSansPro-Thin', Arial, sans-serif;
    padding-top: 7px;
}
/* Наша команда */
#about .our_team{
    border-color: #f4b801;
}
#about .our_team h2{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    padding-bottom: 30px;
}
#about .our_team h3{
    font-family: 'PFAgoraSansPro-Bold', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    padding: 80px 0 60px 0;
}
#about .our_team p{
    font-size: 16px;
    margin: 0 auto;
}
#about .our_team p.f_width{
    width: 400px;
}
#about .our_team img.supermans{
    padding: 35px 0;
}
#about .our_team a{
    line-height: 45px;
    margin: 35px 0 0 0;
    display: inline-block;
    border: 1px solid #000000;
    padding: 0 50px;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
#about .our_team a:hover {
    color: #478cc2;
    border-color: #478cc2;
}
#about .our_team ul{
    list-style: none;
    text-align: left;
}
#about .our_team ul li{
    display: inline-block;
    text-transform: uppercase;
    margin-right: 60px;
    text-align: center;
    margin-bottom: 30px;
}
#about .our_team ul li:nth-child(3n+3){
    margin-right: 0;

}
#about .our_team ul li p.name{
    font-family: 'PFAgoraSansPro-Bold', Arial, sans-serif;
    font-size: 14px;
    padding-top: 20px;
}
#about .our_team ul li p.position{
    color: #616161;
    font-size: 12px;
    padding-top: 5px;
}
#about .our_team .we_needs {
    font-size: 16px;
    font-family: 'PFAgoraSansPro-Bold', sans-serif;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    margin: 25px 0 5px;
}
#about .our_team .post {
    color: #000000;
    font-size: 16px;
    font-family: 'PFAgoraSansPro-Regular', sans-serif;
    position: relative;
}
#about .our_team .post span {
    color: #478cc2;
    text-decoration: underline;
    cursor: pointer;
    transition: color .2s;
    -o-transition: color .2s;
    -moz-transition: color .2s;
    -webkit-transition: color .2s;
    -ms-transition: color .2s;
}
#about .our_team .post span:hover {
    color: #ff002f;
}
#about .our_team .post.a span {
    color: #ff002f;
}
#about .our_team .post_info {
    position: absolute;
    bottom: 32px;
    left: 50%;
    width: 597px;
    margin: 0 0 0 -248px;
    background: #000000;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    padding: 30px;
    display: none;
}
        #about .our_team .post_info.post_info_01 {
            left: 86%;
        }
        #about .our_team .post_info.post_info_01:after {
            content: '';
            background: url(../img/about/tr.png) no-repeat;
            width: 17px;
            height: 9px;
            position: absolute;
            bottom: -9px;
            left: 31%;
        }
        #about .our_team .post_info.post_info_02 {
            left: -3%;
        }
        #about .our_team .post_info.post_info_02:after {
            content: '';
            background: url(../img/about/tr.png) no-repeat;
            width: 17px;
            height: 9px;
            position: absolute;
            bottom: -9px;
            left: 46%;
        }
        #about .our_team .post_info.post_info_03 {
            left: -112%;
        }
        #about .our_team .post_info.post_info_03:after {
            content: '';
            background: url(../img/about/tr.png) no-repeat;
            width: 17px;
            height: 9px;
            position: absolute;
            bottom: -9px;
            left: 65%;
        }

/*===-----------------------------------------=== Заказать проект ===----------------------------------------------===*/
#order_project{
    font-family: 'PFAgoraSansPro-Regular', Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
}
#order_project .container{
    padding: 0 20px;
}
#order_project .fence{
    background: url("../img/order/fence.png") repeat-x;
    height: 4px;
}
#order_project .order_project_content{
    background: url("../img/order/bg.png") repeat;
    padding: 65px 0 90px 0;
    overflow: hidden;
}
#order_project .order_project_content ul{
    height: 145px;

}
#order_project .order_project_content .first{
    font-size: 24px;
    text-transform: uppercase;
    color: #fefefe;
}
#order_project .order_project_content .first h3{
    font-family: 'PFAgoraSansPro-Bold', Arial, sans-serif;
}
#order_project .order_project_content .first h4{
    font-family: 'PFAgoraSansPro-Thin', Arial, sans-serif;
}
#order_project .order_project_content .third button{
    background: #2c9ddf url("../img/order/icon.png") no-repeat 25px 10px;
    padding: 15px 20px 15px 50px;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
}
#order_project .order_project_content .third:hover button{
    background: #2083bc url("../img/order/icon.png") no-repeat 25px 10px;;
}
#order_project .order_project_content .third:hover button:after {
    border-top: 11px solid #2083bc;
}
#order_project .order_project_content .third button:after{
    border-left: 86px solid transparent;
    border-right: 86px solid transparent;
    border-top: 11px solid #2c9ddf;
    bottom: -11px;
    content: "";
    height: 0;
    left: -2px;
    position: absolute;
    width: 0;
     transition: background .2s;
    -moz-transition: background .2s;
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    -ms-transition: background .2s;
}
/* Форма */
#order_project .order_project_content .contact_form input[type='text']{
    background: #1e668f;
    padding: 13px 17px;
    font-size: 14px;
    font-family: 'PFAgoraSansPro-Regular', sans-serif;
    border: 1px solid rgba(0,0,0,0);
    width: 285px;
    margin-bottom: 20px;
    color: #ffffff;
}
#order_project .order_project_content .contact_form textarea:focus,
#order_project .order_project_content .contact_form input[type='text']:focus{
    outline: 0;
    border: 1px solid snow;
    }
#order_project .order_project_content .contact_form textarea{
    background: #1e668f;
    font-family: 'PFAgoraSansPro-Regular', sans-serif;
    font-size: 14px;
    padding: 13px 17px;
    width: 625px;
    border: 0;
    resize: none;
    float: left;
    height: 43px;
    color: #ffffff;
}
#order_project .order_project_content .contact_form .breaf p{
    font-size: 14px;
    padding-bottom: 14px;
}
#order_project .order_project_content .contact_form input[type='submit']{
    margin: 90px auto 0 auto;
    display: block;
    color: #262626;
    text-transform: uppercase;
    font-size: 20px;
    padding: 0 60px;
    line-height: 60px;
    height: 60px;
    font-family: 'PFAgoraSansPro-Bold', sans-serif;
    background-color: #fff;
    border: 0;
    transition: color .2s;
    -moz-transition: color .2s;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    -ms-transition: color .2s;
}
#order_project .order_project_content .contact_form input[type='submit']:hover {
    border: 4px solid #1e668f;
    line-height: 51px;
}
#order_project .input_drop {
    position: relative;
    margin-bottom: 20px;
}
#order_project .input_drop input {
    margin-bottom: 0 !important;
    cursor: pointer;
}
#order_project .input_drop input:focus {
    border: 1px solid rgba(0,0,0,0) !important; 
}
.arrow {
    width: 19px;
    height: 12px;
    background: url("../img/select_arrow.png") no-repeat;
    position: absolute;
    top: 15px;
    right: 22px;
    opacity: .5;
    cursor: pointer;
    transition: opacity .2s;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
}
#order_project .input_drop:hover .arrow {
    opacity: 1
}
#order_project .input_drop .drop_block {
    background: #144e6f;
    padding: 6px 23px 6px 11px;
    display: none;
    position: absolute;
    width: 287px;
}
#order_project .input_drop .radio-btn {padding-left: 8px;margin: 3px 0;}
#order_project .input_drop input[type=checkbox] {display: none;}
#order_project .input_drop input[type=checkbox]+.radio-label { transition: opacity .2s;-webkit-transition: opacity .2s;-o-transition: opacity .2s;-moz-transition: opacity .2s;-ms-transition: opacity .2s;background: url("../img/order/radio_btn.png") 0 6px no-repeat;padding-bottom: 3px; padding-left: 24px; padding-top: 3px;}
#order_project .input_drop input[type=checkbox]:checked+.radio-label { background: url("../img/order/radio_btn.png") 0 -41px no-repeat;padding-bottom: 3px; padding-left: 24px; padding-top: 3px; color: #ffffff;}
#order_project .input_drop .radio-label {font-family: 'PFAgoraSansPro-Regular',sans-serif;font-size: 14px; cursor: pointer; transition: color .2s;}
#order_project .input_drop input[type=checkbox]+.radio-label:hover {opacity: .8;}

#order_project .order_project_content .contact_form input::-moz-placeholder,
#order_project .order_project_content .contact_form textarea::-moz-placeholder {
    opacity: 1;
    color: #ffffff;
}
#order_project .order_project_content .contact_form input::-webkit-input-placeholder,
#order_project .order_project_content .contact_form textarea::-webkit-input-pl {
    opacity: 1;
    color: #ffffff;
}
#order_project .or {
    position: absolute;
    background: url("../img/round_fff.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: 179px;
    top: 12px;
}
#order_project .or span {
    color: #fefefe;
    font-family: 'PFAgoraSansPro-LightItalic', sans-serif;
}



#order_project .papper {
    position: absolute;
    bottom: -2000px;
    left: 29px;
}
#order_project .envelope {
    position: absolute;
    bottom: -2000px;
    left: -36px;
}
#order_project .pan {
    position: absolute;
    bottom: -2000px;
    left: 188px;
}
#order_project .konvert {
    position: absolute;
    bottom: -2000px;
    right: 19px;
}
#order_project .calculator {
    position: absolute;
    bottom: -2000px;
    right: -36px;
}

/*===--------------------------------------------=== Social Media ===----------------------------------------------===*/
#social_media {
    padding: 40px 0 17px;
    border-bottom: 1px solid #aeaeae;
    font-family: 'PFAgoraSansPro-Regular', sans-serif;
}
#social_media .footer_contact h4 {
    font-family: 'PFAgoraSansPro-Bold', sans-serif;
    font-size: 14px;
    color: #303030;
    text-transform: uppercase;
    margin-bottom: 16px;
}
#social_media .footer_contact span {
   font-size: 14px;
   color: #464646;
   display: block;
   line-height: 24px;
   margin-bottom: 15px;
}
#social_media .footer_contact a {
   color: #ea3a15;
   text-decoration: none;
}
#social_media .footer_contact a:hover {
    text-decoration: underline;
}
#social_media .footer_contact > li {
    margin-bottom: 25px;
}

/*===----------------------------------------------=== Портфолио ===-----------------------------------------------===*/
#portfolio{
    padding: 99px 20px 45px;
}
#portfolio ul li{
    margin-bottom: 90px;
    width: 306px;
}
#portfolio ul li .portfolio_img {
    position: relative;
    background: #000000;
    overflow: hidden;   
}
#portfolio ul li a .portfolio_img img {
    transition: opacity .2s;
    -o-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
}
#portfolio ul li a {
    text-decoration: none;
    color: #000000;
    display: block;
}
#portfolio ul li a h3{
    padding: 25px 0 15px 0;
    font-family: 'PFAgoraSansPro-Bold', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
#portfolio ul li a p{
    font-size: 14px;
    font-family: 'PFAgoraSansPro-Regular', sans-serif;
}
#portfolio ul li a .block_name {
    position: absolute;
    top: 50%;
    width: 100%;
}
#portfolio ul li a .block_name .company {
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'PFAgoraSansPro-Regular', sans-serif;
    display: none;
}
#portfolio ul li a .block_name .line {
    height: 2px;
    width: 53px;
    background: #ffffff;
    margin: 9px auto 15px;
    display: none;
}
#portfolio ul li a .block_name .icon {
    display: inline-block;
    background: url(../img/portfolio/icon.png) no-repeat;
    height: 27px;
    margin: 0 7px;
    position: relative;
    top: 300px;
    transition: top .2s;
    -o-transition: top .2s;
    -webkit-transition: top .2s;
    -moz-transition: top .2s;
    -ms-transition: top .2s;
}
#portfolio ul li a .block_name .icon.adap {
    width: 19px;
    transition: top .2s;
    -o-transition: top .2s;
    -webkit-transition: top .2s;
    -moz-transition: top .2s;
    -ms-transition: top .2s;
}
#portfolio ul li a .block_name .icon.seo {
    width: 25px;
    background-position: -39px 0;
    transition: top .2s ease .1s;
    -o-transition: top .2s ease .1s;
    -webkit-transition: top .2s ease .1s;
    -moz-transition: top .2s ease .1s;
    -ms-transition: top .2s ease .1s;
}
#portfolio ul li a .block_name .icon.dev {
    width: 25px;
    background-position: -81px 0;
    transition: top .2s ease .2s;
    -o-transition: top .2s ease .2s;
    -webkit-transition: top .2s ease .2s;
    -moz-transition: top .2s ease .2s;
    -ms-transition: top .2s ease .2s;
}
#portfolio ul li a .block_name .icon.des {
    width: 13px;
    background-position: -127px 0;
    transition: top .2s ease .3s;
    -o-transition: top .2s ease .3s;
    -webkit-transition: top .2s ease .3s;
    -moz-transition: top .2s ease .3s;
    -ms-transition: top .2s ease .3s;
}
#portfolio ul li a:hover .portfolio_img img {
    opacity: .5;
}
#portfolio ul li a:hover .block_name .company {
    display: block;
}
#portfolio ul li a:hover .block_name .line {
    display: block;
}
#portfolio ul li a:hover .block_name .icon {
    top: 0;
}
/*===-------------------------------------------=== Полная нода ===------------------------------------------------===*/
#single_work{

}
#single_work h1{
    font-family: 'PFAgoraSansPro-Bold', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    padding: 105px 0 35px 0;
}
#pr_desc{
    font-size: 14px;
    font-family: 'PFAgoraSansPro-Regular', sans-serif;
    padding-bottom: 60px;
}
#what_we_do{
    font-family: 'PFAgoraSansPro-Bold', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 50px;
}
/*===-----------------------------------------------=== Footer ===-------------------------------------------------===*/
footer{
    padding: 32px 0 29px;
    font-size: 14px;
}
footer .copyright {
    color: #303030;
}
footer .copyright .bold {
    font-family: 'PFAgoraSansPro-Bold', sans-serif;
}
footer .logo {
    margin: -15px 0 0 -19px;
    position: absolute;
    left: 50%;
}
footer .phone {
    color: #2990cb;
    font-size: 18px;
    font-family: 'PFAgoraSansPro-Bold', sans-serif;
}


/* Конец */